@font-face {font-family: 'APL386';src: url('APL386.ttf');}
@font-face {font-family: 'APL385';src: url('APL385.ttf');}
input,label{
  position: fixed;
  background: rgba(255,255,255,0.7);
  font-size: 18;
}
* {
  font-weight: unset;
}
#APL386{top:3ex;}label[for="APL386"]{top:3ex;}#APL386:checked~*:not(.x){font-family: 'APL386'!important;}
#APL385{top:5ex;}label[for="APL385"]{top:5ex;}#APL385:checked~*:not(.x){font-family: 'APL385'!important;}
label{
  left:2em;
}
h1{
  padding-top:3ex; 
}
h1>span {
  float: right;
}
h1>span>a {
  text-decoration: none;
  color: #ea4aaa;
}
body {
  font-size: 125%;
  line-height: 1.2;
}
blockquote {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 125%;
}
sup {
  font-size: 50%;
}
textarea {
  width: 100%;
  resize: vertical;
  min-height: 4em;
  font-size: inherit;
  font-family: inherit;
}
    